@font-face {
  font-family: 'Farao Black';
  src: url("../webfonts/farao-black.woff2") format("woff2"), url("../webfonts/farao-black.woff") format("woff"), url("../webfonts/farao-black.ttf") format("ttf"); }
@font-face {
  font-family: 'Kameron Bold';
  src: url("../webfonts/kameron-bold.woff2") format("woff2"), url("../webfonts/kameron-bold.woff") format("woff"), url("../webfonts/kameron-bold.ttf") format("ttf"); }
@font-face {
  font-family: 'Vision';
  src: url("../webfonts/vision.woff2") format("woff2"), url("../webfonts/vision.woff") format("woff"), url("../webfonts/vision.ttf") format("ttf"); }
@font-face {
  font-family: 'Vision Heavy';
  src: url("../webfonts/vision-heavy.woff2") format("woff2"), url("../webfonts/vision-heavy.woff") format("woff"), url("../webfonts/vision-heavy.ttf") format("ttf"); }
@font-face {
  font-family: 'Vision Black';
  src: url("../webfonts/vision-black.woff2") format("woff2"), url("../webfonts/vision-black.woff") format("woff"); }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  font-family: "Vision";
  background-color: #f79c23;
  overflow-x: hidden; }
  @media (max-width: 768px) {
    html, body {
      font-size: 14px; } }

h1 {
  font-family: "Farao Black";
  font-size: 3.75rem;
  line-height: 1.05;
  letter-spacing: 2px;
  margin: 1rem 0; }
  @media (max-width: 1280px) {
    h1 {
      font-size: 3.125rem; } }
  @media (max-width: 1020px) {
    h1 {
      font-size: 2.625rem;
      margin: 0.75rem 0; } }
  @media (max-width: 768px) {
    h1 {
      font-size: 2.25rem;
      margin: 0.5rem 0; } }

h2 {
  font-family: "Farao Black";
  font-size: 3.125rem;
  line-height: 1.05;
  letter-spacing: 2px; }
  @media (max-width: 1280px) {
    h2 {
      font-size: 2.625rem; } }
  @media (max-width: 1020px) {
    h2 {
      font-size: 2.1875rem; } }
  @media (max-width: 768px) {
    h2 {
      font-size: 1.875rem; } }

h2, h3 {
  margin: 0; }

h3 {
  font-family: "Vision Black";
  font-size: 2rem;
  letter-spacing: -1px; }
  @media (max-width: 1280px) {
    h3 {
      font-size: 1.625rem; } }
  @media (max-width: 768px) {
    h3 {
      font-size: 1.5rem; } }

p {
  font-size: 1.25rem;
  line-height: 1.5; }

ul {
  margin: 0;
  padding: 0;
  padding-inline-start: 20px; }
  ul li {
    /*
    position: relative;
    padding-left: 20px;


    &:before{
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      border-radius: 50px;
      background-color: $sl-brown;
      width: getRem(8px);
      height: getRem(8px);
    }
    */ }

ul.hr-list {
  list-style: none; }
  ul.hr-list li {
    display: inline;
    padding-left: 0; }
    ul.hr-list li:before {
      display: none; }

section {
  padding: 2rem;
  margin: auto; }

.button, a.button {
  display: inline-block;
  border-radius: 50px;
  padding: 18px 38px;
  background-color: #d90b0d;
  text-transform: uppercase;
  font-size: 1.125rem;
  font-family: "Vision Heavy";
  color: #FFFFFF;
  text-decoration: none;
  transition: all 200ms cubic-bezier(0.68, -0.55, 0.265, 1.95);
  -webkit-transition: all 200ms cubic-bezier(0.68, -0.55, 0.265, 1.95); }
  .button:hover, a.button:hover {
    padding-left: 51px;
    padding-right: 51px;
    transition: all 200ms cubic-bezier(0.68, -0.55, 0.265, 1.95);
    -webkit-transition: all 200ms cubic-bezier(0.68, -0.55, 0.265, 1.95); }

.red-arrow {
  width: 3.75rem;
  height: 3.375rem; }
  @media (max-width: 680px) {
    .red-arrow {
      width: 2.375rem;
      height: 1.78125rem; } }

.down-arrow {
  position: fixed;
  width: 41px;
  height: 22px;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 30px;
  opacity: 1;
  z-index: 3000;
  background-image: url("../images/arrow-down.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 200ms ease-out;
  -webkit-transition: all 200ms ease-out; }
  .down-arrow.hidden {
    opacity: 0;
    bottom: 5px;
    transition: all 200ms ease-out;
    -webkit-transition: all 200ms ease-out; }

header {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  z-index: 3000;
  padding: 1.75rem 1.75rem 0px;
  max-width: 1920px; }
  @media (min-width: 681px) {
    header.fixed {
      position: absolute; } }
  @media (min-width: 1021px) {
    header.fixed {
      position: fixed; } }

.logo-container {
  position: relative;
  width: 187px; }
  .logo-container img {
    position: relative;
    z-index: 2;
    width: 100%; }
  .logo-container:after {
    content: '';
    position: absolute;
    z-index: 1;
    background-image: url("../images/logo-bg-gradient.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    left: 50%;
    top: 53%;
    width: 154%;
    height: 256%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%); }
  @media (max-width: 768px) {
    .logo-container {
      width: 146px; } }
  @media (max-width: 480px) {
    .logo-container {
      width: 120px; } }

nav {
  font-family: "Vision Heavy";
  font-size: 1.125rem; }
  nav a {
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 200ms;
    -webkit-transition: all 200ms; }
    nav a:hover, nav a.selected {
      opacity: 0.6;
      transition: all 200ms;
      -webkit-transition: all 200ms; }
    nav a.selected {
      pointer-events: none; }

.usda-badge {
  position: absolute;
  z-index: 3000;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 22px;
  top: 100%;
  width: 6.25rem;
  height: 6.25rem;
  background-image: url("../images/usda-badge.svg");
  background-position: center;
  background-size: contain; }
  @media (max-width: 1188px) {
    .usda-badge {
      width: 4.0625rem;
      height: 4.0625rem;
      margin-top: 13px; } }
  @media (max-width: 768px) {
    .usda-badge {
      width: 2.8125rem;
      height: 2.8125rem;
      margin-top: 8px; } }

footer {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  position: relative;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  z-index: 3000;
  padding: 0px 1.5625rem 1.5625rem;
  max-width: 1920px; }
  @media (min-width: 1021px) {
    footer.fixed {
      position: fixed;
      bottom: 0; } }
  footer p {
    font-family: "Vision Heavy";
    font-size: 1.125rem;
    margin: 0; }
  footer a {
    color: #FFFFFF; }
  footer li {
    padding-left: 10px;
    padding-right: 10px; }
    footer li:first-of-type {
      padding-left: 0px; }
    footer li:last-of-type {
      padding-right: 0px; }
    footer li i {
      font-size: 1.4375rem; }
  @media (max-width: 480px) {
    footer {
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      -o-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-flex-direction: column-reverse;
      -moz-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
      -o-flex-direction: column-reverse;
      flex-direction: column-reverse; }
      footer .footer-social-menu {
        margin-bottom: 1.25rem; } }

.social-icon {
  display: inline-block;
  width: 2.625rem;
  height: 2.625rem;
  background-repeat: no-repeat;
  background-size: contain; }
  .social-icon.fb {
    background-image: url("../images/social-icon-fb.png"); }
  .social-icon.insta {
    background-image: url("../images/social-icon-insta.png"); }
  .social-icon.tw {
    background-image: url("../images/social-icon-tw.png"); }

#home-page section {
  width: 100%; }
#home-page section#bg {
  position: fixed;
  top: 0; }

#bg, #bg > div {
  transition-property: opacity, background-color;
  -webkit-transition-property: opacity, background-color;
  transition-duration: 0.6s;
  -webkit-transition-duration: 0.6s;
  padding: 0; }

#bg {
  height: 100vh; }
  #bg.bg1 {
    background-color: #f79c23; }
  #bg.bg2 {
    background-color: #d7de2c; }
  #bg.bg3 {
    background-color: #e8851a; }
  #bg.bg4 {
    background-color: #f79c23; }
  #bg > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1; }
    #bg > div.bg-gradient1 {
      background-image: url("../images/bg-gradient-slide1.svg"); }
    #bg > div.bg-gradient2 {
      background-image: url("../images/bg-gradient-slide2.svg"); }
    #bg > div.bg-gradient3 {
      background-image: url("../images/bg-gradient-slide3.svg"); }
    #bg > div.bg-gradient4 {
      background-image: url("../images/bg-gradient-slide1.svg"); }
    #bg > div.hidden {
      opacity: 0; }

.honeycomb, .austin-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat; }

.honeycomb {
  width: 50%;
  background-image: url("../images/honeycomb.svg");
  background-size: cover; }
  .honeycomb.reverse {
    left: auto;
    right: 0;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1); }
  @media (max-width: 768px) {
    .honeycomb {
      background-size: cover; } }
  @media (max-width: 680px) {
    .honeycomb {
      width: 100%;
      background-position-x: 70%; } }
  @media (max-width: 480px) {
    .honeycomb {
      background-position-x: 50%; } }

.austin-bg {
  background-image: url("../images/austin-bg.png");
  background-size: contain;
  background-position: center 80px; }
  @media (max-width: 1020px) {
    .austin-bg {
      background-size: 150vw; } }
  @media (max-width: 680px) {
    .austin-bg {
      background-size: 200vw; } }

.slide-main {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  width: 64%;
  height: 100vh;
  max-width: 1920px;
  margin: auto;
  position: relative;
  background-color: transparent;
  z-index: 3;
  padding-top: 0;
  padding-bottom: 0; }
  @media (max-width: 1280px) {
    .slide-main {
      width: 88%; } }
  @media (max-width: 680px) {
    .slide-main {
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -o-flex-direction: column;
      flex-direction: column;
      width: 100%;
      padding: 2rem; }
      .slide-main.slide1 {
        padding-top: 0;
        margin-top: -40px; } }
  .slide-main h3 {
    text-transform: uppercase; }
  .slide-main.slide1 .bg-graphics {
    background-image: url("../images/slide1-leaves.svg"); }
  @media (min-width: 681px) {
    .slide-main.slide1 {
      margin-top: 3.5rem; } }
  @media (min-width: 1189px) {
    .slide-main.slide1 {
      margin-top: auto; } }
  .slide-main.slide2 .bg-graphics {
    background-image: url("../images/slide2-leaves-fruit.svg"); }
  .slide-main.slide3 .bg-graphics {
    background-image: url("../images/slide3-stars.svg"); }

.bg-graphics {
  position: absolute;
  z-index: 1;
  width: 90vw;
  max-width: 1900px;
  height: 100%;
  max-width: 1920px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; }
  @media (max-width: 1188px) {
    .bg-graphics {
      width: 100vw;
      background-size: 150vw; } }
  @media (max-width: 680px) {
    .bg-graphics {
      width: 100vw;
      background-size: auto 75%; }
      .slide1 .bg-graphics {
        background-size: 150vw; } }

.slide-image-container {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  position: relative;
  width: 50%;
  z-index: 2; }
  @media (max-width: 680px) {
    .slide-image-container {
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -o-justify-content: center;
      justify-content: center;
      width: 100%;
      height: 54vh;
      margin-bottom: 20px; } }
  .slide1 .slide-image-container {
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center; }

.slide-image {
  position: relative;
  width: 100%;
  height: 100vh;
  max-width: 700px;
  max-height: 70vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 200; }
  @media (max-width: 680px) {
    .slide-image {
      background-position: bottom;
      max-height: 100vh;
      height: 100%; } }
  .slide1 .slide-image {
    background-image: url("../images/bottle-fpo.png"); }
  .slide2 .slide-image {
    max-width: 835px;
    background-image: url("../images/slide-organic-ingredients.png"); }
  .slide3 .slide-image {
    max-width: 584px;
    background-image: url("../images/slide-mimi.png"); }
  .core .slide-image {
    background-image: url("../images/home-about-core.png"); }
  .semisweet .slide-image {
    background-image: url("../images/home-about-semisweet.png"); }
  .unsweet .slide-image {
    background-image: url("../images/home-about-unsweet.png"); }
  .slide-image.glow {
    position: absolute;
    z-index: 100;
    max-height: 76vh;
    background-image: url("../images/slide-organic-ingredients-bg.png"); }
    .slide2 .slide-image.glow {
      top: -76px; }
      @media (max-width: 680px) {
        .slide2 .slide-image.glow {
          top: auto; } }
    .slide3 .slide-image.glow {
      max-width: 779px; }
      @media (max-width: 680px) {
        .slide3 .slide-image.glow {
          top: 40px; } }

.slide-copy {
  width: 50%;
  max-width: 720px;
  color: #370000;
  z-index: 2;
  padding-left: 2rem; }
  @media (max-width: 680px) {
    .slide-copy {
      padding-left: 0;
      text-align: center;
      width: 100%;
      max-width: 100%;
      transform: none !important;
      -webkit-transform: none !important; } }
  .slide-copy .button {
    margin-top: 1rem; }

.slide-main.slide1 {
  -webkit-flex-direction: column-reverse;
  -moz-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  -o-flex-direction: column-reverse;
  flex-direction: column-reverse;
  height: auto;
  min-height: 100vh; }
  .slide-main.slide1 h1 {
    font-size: 5rem;
    margin: 1rem 0; }
    @media (max-width: 1280px) {
      .slide-main.slide1 h1 {
        font-size: 4.1875rem; } }
    @media (max-width: 1020px) {
      .slide-main.slide1 h1 {
        font-size: 3.5rem;
        margin: 0.75rem 0; } }
    @media (max-width: 768px) {
      .slide-main.slide1 h1 {
        font-size: 2.75rem;
        margin: 0.5rem 0; } }
  .slide-main.slide1 .slide-image-container {
    width: 100%; }
  .slide-main.slide1 .slide-copy {
    width: 100%;
    padding-top: 21vh;
    padding-left: 0;
    text-align: center; }

#about-products.slide-main {
  display: block;
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-bottom: 3rem;
  height: auto;
  padding-top: 3.5rem; }
  #about-products.slide-main h1 {
    color: #370000; }
  #about-products.slide-main ul {
    font-family: "Vision Heavy";
    font-size: 2.5rem;
    letter-spacing: -2px;
    margin-top: 1rem; }
    @media (max-width: 1020px) {
      #about-products.slide-main ul {
        font-size: 1.875rem; } }
    @media (max-width: 680px) {
      #about-products.slide-main ul {
        font-size: 1.5625rem;
        display: inline-block;
        text-align: left;
        margin-bottom: 1rem; } }
    #about-products.slide-main ul li {
      padding-top: 3px;
      padding-bottom: 3px; }
      #about-products.slide-main ul li:first-of-type {
        padding-top: 0; }
      #about-products.slide-main ul li:last-of-type {
        padding-bottom: 0; }
  #about-products.slide-main .button {
    margin-top: 1rem;
    margin-bottom: 1rem; }

.about-products-main {
  text-align: center; }
  .about-products-main img {
    display: block;
    width: 77vw;
    max-width: 1477px;
    margin: 3rem auto 0; }

.about-products-subs {
  padding: 0 2rem; }
  .about-products-subs .slide-image-container {
    height: auto; }
  .about-products-subs .slide-image {
    height: 38vw;
    max-height: 590px;
    min-height: 186px; }
    @media (max-width: 680px) {
      .about-products-subs .slide-image {
        background-position: top center; } }

.about-product-content {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center; }
  @media (min-width: 681px) {
    .about-product-content:nth-child(even) {
      -webkit-flex-direction: row-reverse;
      -moz-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
      -o-flex-direction: row-reverse;
      flex-direction: row-reverse; }
      .about-product-content:nth-child(even) .slide-image-container {
        -webkit-justify-content: flex-start;
        -moz-justify-content: flex-start;
        -ms-justify-content: flex-start;
        -o-justify-content: flex-start;
        justify-content: flex-start; }
      .about-product-content:nth-child(even) .slide-image {
        background-position: left; } }
  @media (max-width: 680px) {
    .about-product-content {
      -webkit-flex-direction: column-reverse;
      -moz-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
      -o-flex-direction: column-reverse;
      flex-direction: column-reverse;
      padding-top: 3.5rem; } }

.organic-stamp {
  position: absolute;
  z-index: 2;
  right: 2rem;
  bottom: 20vh;
  width: 16.7vw;
  height: 16.7vw;
  min-width: 2.5rem;
  min-height: 2.5rem;
  max-width: 13.375rem;
  max-height: 13.375rem;
  background-image: url("../images/organic-stamp.png");
  background-size: contain;
  background-repeat: no-repeat; }
  @media (max-width: 680px) {
    .organic-stamp {
      right: 1rem;
      bottom: 4vh; } }

.bottle-cap {
  position: absolute;
  z-index: 2;
  right: 15%;
  bottom: 22vh;
  width: 15.8vw;
  height: 11.5vw;
  min-width: 7.75rem;
  min-height: 5.625rem;
  max-width: 19rem;
  max-height: 13.8125rem;
  background-image: url("../images/bottle-cap.png");
  background-size: contain;
  background-repeat: no-repeat; }
  @media (max-width: 680px) {
    .bottle-cap {
      right: -2rem;
      bottom: 5vh; } }

.est-1998 {
  position: absolute;
  z-index: 2;
  right: 10%;
  bottom: 45vh;
  width: 5.6vw;
  height: 5.6vw;
  min-width: 5rem;
  min-height: 5rem;
  max-width: 6.8125rem;
  max-height: 6.8125rem;
  background-image: url("../images/est-1998.png");
  background-size: contain;
  background-repeat: no-repeat; }
  @media (max-width: 680px) {
    .est-1998 {
      right: 1rem;
      bottom: auto;
      top: 40%; } }

.texas-stamp {
  position: absolute;
  z-index: 2;
  right: 2rem;
  top: 10vh;
  width: 21vw;
  height: 21vw;
  min-width: 7.5rem;
  min-height: 7.5rem;
  max-width: 16.5rem;
  max-height: 16.5rem;
  background-image: url("../images/texas-stamp.png");
  background-size: contain;
  background-repeat: no-repeat; }
  @media (max-width: 680px) {
    .texas-stamp {
      right: 1rem;
      top: 7vh; } }

.cactus {
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 18vh;
  width: 14.8vw;
  height: 29.5vw;
  min-width: 2.8125rem;
  min-height: 5.625rem;
  max-width: 11.8125rem;
  max-height: 23.625rem;
  background-image: url("../images/cactus.png");
  background-size: contain;
  background-repeat: no-repeat; }
  @media (max-width: 680px) {
    .cactus {
      right: -2rem; } }
  .cactus.reverse {
    transform: scaleX(-1);
    width: 11.7vw;
    height: 23.4vw;
    min-width: 2.1875rem;
    min-height: 4.375rem;
    max-width: 9.375rem;
    max-height: 18.75rem;
    right: auto !important;
    left: -1rem;
    bottom: 11vh; }
    @media (max-width: 680px) {
      .cactus.reverse {
        bottom: 20vh; } }

#about-page {
  background-image: url("../images/bg-gradient-about.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 1024px; }
  @media (max-width: 768px) {
    #about-page {
      background-size: auto; } }
  #about-page h1 {
    margin-top: 0; }
  #about-page h2 {
    text-transform: uppercase;
    margin-bottom: 1rem; }
    @media (max-width: 1020px) {
      #about-page h2 {
        margin-bottom: 0.75rem; } }
    @media (max-width: 768px) {
      #about-page h2 {
        margin-bottom: 0.5rem; } }
  #about-page section {
    position: relative;
    max-width: 1400px;
    text-align: center;
    margin-bottom: 3rem; }
    @media (max-width: 768px) {
      #about-page section {
        margin-bottom: 1.2rem; } }
    #about-page section p {
      max-width: 920px;
      margin: auto;
      padding-top: 4rem; }
      @media (max-width: 768px) {
        #about-page section p {
          padding-top: 2rem; } }

.about-images {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center; }
  @media (max-width: 768px) {
    .about-images {
      margin-top: 1.5rem; } }
  .about-images .image-container img {
    max-width: 423px;
    width: 100%; }
  .about-images > * {
    margin-left: 1rem;
    margin-right: 1rem; }
    @media (max-width: 680px) {
      .about-images > * {
        margin-left: 0;
        margin-right: 0; } }
  .about-images:first-child {
    margin-left: 0;
    text-align: right; }
  .about-images:last-child {
    margin-right: 0;
    text-align: left; }

/*# sourceMappingURL=style.css.map */
