header{
  @include prefixr(display,flex);
  @include prefixr(align-items,center);
  @include prefixr(justify-content,space-between);
  position: relative;
  top: 0;
  width: 100%;
  text-align: center;
  z-index: 3000;
  padding: getRem(28px) getRem(28px) 0px;
  max-width: $site-width-max;

  &.fixed{
    @include breakpoint(xs-680-up){
      position: absolute;
    }
    @include breakpoint(s-up){
      position: fixed;
    }
  }
}

.logo-container{
  position: relative;
  width: 187px;

  img{
    position: relative;
    z-index: 2;
    width: 100%;
  }

  &:after{
    content: '';
    position: absolute;
    z-index: 1;
    background-image: url('../images/logo-bg-gradient.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    left: 50%;
    top: 53%;
    width: 154%;
    height: 256%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
  }

  @include breakpoint(s){
    width: 146px;
  }

  @include breakpoint(xs){
    width: 120px;
  }
}

nav{
  font-family: "Vision Heavy";
  font-size: getRem(18px);

  a{
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;

    transition: all 200ms;
    -webkit-transition: all 200ms;

    &:hover, &.selected{
      opacity: 0.6;

      transition: all 200ms;
      -webkit-transition: all 200ms;
    }

    &.selected{
      pointer-events: none;
    }
  }
}
