section{
  width: 100%;
  height: 100%;
}

section#bg, section#content{
  position: fixed;
  top: 0;
}

#bg, #bg > div{
  transition-property: opacity, background-color;
  -webkit-transition-property: opacity, background-color;
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
}

#bg{
  &.bg1{
    background-color: #f79d23;
  }
  &.bg2{
    background-color: #d7de2c;
  }
  &.bg3{
    background-color: #f45a4a;
  }
  &.bg4{
    background-color: #e8851a;
  }

  > div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;

    &.bg-gradient1{
      background-image: url('../images/bg-gradient-slide1.svg');
    }

    &.bg-gradient2{
      background-image: url('../images/bg-gradient-slide2.svg');
    }

    &.bg-gradient3{
      background-image: url('../images/bg-gradient-slide3.svg');
    }

    &.bg-gradient4{
      background-image: url('../images/bg-gradient-slide4.svg');
    }

    &.hidden{
      opacity: 0;
    }
  }
}

.honeycomb{
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-image: url('../images/honeycomb.svg');
  background-repeat: no-repeat;
  background-size: cover;

  &.reverse{
    left: auto;
    right: 0;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
  }

  @include breakpoint(s){
    background-size: cover;
  }

  @include breakpoint(xs-680){
    width: 100%;
    background-position-x: 70%;
  }

  @include breakpoint(xs){
    background-position-x: 50%;
  }
}

.slide-main{
  @include prefixr(display,flex);
  @include prefixr(justify-content,center);
  @include prefixr(align-items,center);
  width: 64%;
  max-width: $container-width-max;
  margin: auto;
  position: relative;
  background-color: transparent;
  z-index: 3;

  @include breakpoint(l){
    width: 88%;
  }

  @include breakpoint(xs-680){
    @include prefixr(flex-direction,column);
    width: 100%;
    padding: 2rem;

    &.slide1{
      padding-top: 0;
      margin-top: -40px;
    }
  }

  &.slide1{
    .bg-graphics{
      background-image: url('../images/slide1-leaves.svg');
    }

    @include breakpoint(xs-680-up){
      margin-top: 2.5rem;
    }

    @include breakpoint(m-s-up){
      margin-top: auto;
    }
  }

  &.slide2{
    .bg-graphics{
      background-image: url('../images/slide1-leaves.svg');
    }
  }

  &.slide3{
    .bg-graphics{
      background-image: url('../images/slide1-leaves.svg');
    }
  }

  &.slide4{
    .bg-graphics{
      background-image: url('../images/slide1-leaves.svg');
    }
  }
}

.bg-graphics{
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  max-width: 1260px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.slide-image-container{
  @include prefixr(display,flex);
  @include prefixr(justify-content,right);
  @include prefixr(align-items,center);
  width: 50%;
  height: 100%;
  z-index: 2;

  @include breakpoint(xs-680){
    @include prefixr(justify-content,center);
    width: 100%;
    height: 54vh;
    margin-bottom: 20px;
  }
}

.slide-image{
  width: 100%;
  height: 100%;
  max-width: 700px;
  max-height: 70%;
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;

  @include breakpoint(xs-680){
    background-position: center;
    max-height: 100vh;
  }

  .slide1 &{
    background-image: url('../images/bottle-fpo.png');
  }

  .slide2 &{
    background-image: url('../images/bottle-fpo.png');
  }

  .slide3 &{
    background-image: url('../images/bottle-fpo.png');
  }

  .slide4 &{
    background-image: url('../images/bottle-fpo.png');
  }
}

.slide-copy{
  width: 50%;
  max-width: 650px;
  color: $sl-brown;
  z-index: 2;

  @include breakpoint(xs-680){
    text-align: center;
    width: 100%;
    max-width: 100%;
    transform: none !important;
    -webkit-transform: none !important;
  }
}
