#home-page{
  section{
    width: 100%;
  }

  section#bg{
    position: fixed;
    top: 0;
  }
}

#bg, #bg > div{
  transition-property: opacity, background-color;
  -webkit-transition-property: opacity, background-color;
  transition-duration: 0.6s;
  -webkit-transition-duration: 0.6s;
  padding: 0;
}

#bg{
  height: 100vh;

  &.bg1{
    background-color: $sl-orange;
  }
  &.bg2{
    background-color: #d7de2c;
  }
  &.bg3{
    background-color: #e8851a;
  }
  &.bg4{
    background-color: $sl-orange;
  }

  > div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;

    &.bg-gradient1{
      background-image: url('../images/bg-gradient-slide1.svg');
    }

    &.bg-gradient2{
      background-image: url('../images/bg-gradient-slide2.svg');
    }

    &.bg-gradient3{
      background-image: url('../images/bg-gradient-slide3.svg');
    }

    &.bg-gradient4{
      background-image: url('../images/bg-gradient-slide1.svg');
    }

    &.hidden{
      opacity: 0;
    }
  }
}

.honeycomb, .austin-bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
}

.honeycomb{
  width: 50%;
  background-image: url('../images/honeycomb.svg');
  background-size: cover;

  &.reverse{
    left: auto;
    right: 0;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
  }

  @include breakpoint(s){
    background-size: cover;
  }

  @include breakpoint(xs-680){
    width: 100%;
    background-position-x: 70%;
  }

  @include breakpoint(xs){
    background-position-x: 50%;
  }
}

.austin-bg{
  background-image: url('../images/austin-bg.png');
  background-size: contain;
  background-position: center 80px;

  @include breakpoint(m){
    background-size: 150vw;
  }

  @include breakpoint(xs-680){
    background-size: 200vw;
  }
}

.slide-main{
  @include prefixr(display,flex);
  @include prefixr(justify-content,center);
  @include prefixr(align-items,center);
  width: 64%;
  height: 100vh;
  max-width: $site-width-max;
  margin: auto;
  position: relative;
  background-color: transparent;
  z-index: 3;
  padding-top: 0;
  padding-bottom: 0;

  @include breakpoint(l){
    width: 88%;
  }

  @include breakpoint(xs-680){
    @include prefixr(flex-direction,column);
    width: 100%;
    padding: 2rem;

    &.slide1{
      padding-top: 0;
      margin-top: -40px;
    }
  }

  &.slide1{
    .bg-graphics{
      background-image: url('../images/slide1-leaves.svg');
    }

    @include breakpoint(xs-680-up){
      margin-top: 3.5rem;
    }

    @include breakpoint(m-l-up){
      margin-top: auto;
    }

  }

  &.slide2{
    .bg-graphics{
      margin-top: 6rem;
      background-image: url('../images/slide2-leaves-fruit.svg');
    }
  }

  &.slide3{
    .bg-graphics{
      background-image: url('../images/slide3-stars.svg');
    }
  }
}

.bg-graphics{
  position: absolute;
  z-index: 1;
  width: 90vw;
  max-width: 1900px;
  height: 100%;
  max-width: $site-width-max;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  @include breakpoint(m-l){
    width: 100vw;
    background-size: 150vw;
  }

  @include breakpoint(xs-680){
    width: 100vw;
    background-size: auto 75%;

    .slide1 &{
      background-size: 150vw;
    }
  }
}

.slide-image-container{
  @include prefixr(display,flex);
  @include prefixr(justify-content,center);
  @include prefixr(align-items,center);
  position: relative;
  width: 50%;
  z-index: 200;

  @include breakpoint(xs-680){
    @include prefixr(justify-content,center);
    width: 100%;
    height: 54vh;
    margin-bottom: 20px;
  }

  .slide1 &{
    @include prefixr(justify-content,center);
  }
}

.slide-image{
  position: relative;
  width: 100%;
  height: 100vh;
  max-width: 700px;
  max-height: 70vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 200;

  @include breakpoint(xs-680){
    background-position: bottom;
    max-height: 100vh;
    height: 100%;
  }

  .slide1 &{
    background-image: url('../images/bottle-fpo.png');
  }

  .slide2 &{
    max-width: 835px;
    background-image: url('../images/slide-organic-ingredients.png');
  }

  .slide3 &{
    max-width: 584px;
    background-image: url('../images/slide-mimi.png');
  }

  .core &{
    background-image: url('../images/home-about-core.png');
  }

  .semisweet &{
    background-image: url('../images/home-about-semisweet.png');
  }

  .unsweet &{
    background-image: url('../images/home-about-unsweet.png');
  }

  &.glow{
    position:absolute;
    z-index: 100;
    max-height: 76vh;
    background-image: url('../images/slide-organic-ingredients-bg.png');

    .slide2 &{
      top: -76px;

      @include breakpoint(xs-680){
        top: auto;
      }
    }

    .slide3 &{
      max-width: 779px;

      @include breakpoint(xs-680){
        top: 40px;
      }
    }
  }
}

.slide-copy{
  width: 50%;
  max-width: 720px;
  color: $sl-brown;
  z-index: 2;
  padding-left: 2rem;

  @include breakpoint(xs-680){
    padding-left: 0;
    text-align: center;
    width: 100%;
    max-width: 100%;
    transform: none !important;
    -webkit-transform: none !important;
  }

  .button{
    margin-top: 1rem;
  }
}


//Slide 1 and about are exceptions to the layout
.slide-main.slide1{
  @include prefixr(flex-direction,column-reverse);
  height: auto;
  min-height: 100vh;

  .slide-image-container{
    width: 100%;
  }

  .slide-copy{
    width: 100%;
    padding-top: 21vh;
    padding-left: 0;
    text-align: center;
    margin-bottom: 2rem;
  }
}

#about-products.slide-main{
  display: block;
  width: 100%;
  max-width: $container-width-max;
  margin-left: auto;
  margin-bottom: 3rem;
  height: auto;
  padding-top: 3.5rem;

  h1{
    color: $sl-brown;
  }

  ul{
    font-family: "Vision Heavy";
    font-size: getRem(40px);
    letter-spacing: -2px;
    margin-top: 1rem;

    @include breakpoint(m){
      font-size: getRem(30px);
    }

    @include breakpoint(xs-680){
      font-size: getRem(25px);
      display: inline-block;
      text-align: left;
      margin-bottom: 1rem;
    }

    li{
      padding-top: getRem(5px);
      padding-bottom: getRem(5px);

      &:first-of-type{
        padding-top: 0;
      }

      &:last-of-type{
        padding-bottom: 0;
      }
    }
  }

  .button{
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.about-products-main{
  text-align: center;

  img{
    display: block;
    width: 77vw;
    max-width: 1477px;
    margin: 3rem auto 0;
  }
}

.about-products-subs{
  padding: 0 2rem;

  .slide-image-container{
    height: auto;
  }

  .slide-image{
    height: 38vw;
    max-height: 590px;
    min-height: 186px;

    @include breakpoint(xs-680){
      background-position: top center;
    }
  }
}

.about-product-content{
  @include prefixr(display, flex);
  @include prefixr(justify-content, center);
  @include prefixr(align-items, center);

  &:nth-child(even){
    @include breakpoint(xs-680-up){
      @include prefixr(flex-direction, row-reverse);

      .slide-image-container{
        @include prefixr(justify-content,flex-start);
      }

      .slide-image{
        background-position: left;
      }
    }
  }

  @include breakpoint(xs-680){
    @include prefixr(flex-direction, column-reverse);
    padding-top: 3.5rem;
  }
}

//Random slide elements
.organic-stamp{
  position: absolute;
  z-index: 2;
  right: 2rem;
  bottom: 20vh;
  width: 16.7vw;
  height: 16.7vw;
  min-width: getRem(40px);
  min-height: getRem(40px);
  max-width: getRem(214px);
  max-height: getRem(214px);

  background-image: url('../images/organic-stamp.png');
  background-size: contain;
  background-repeat: no-repeat;

  @include breakpoint(xs-680){
    right: 1rem;
    bottom: 4vh;
  }
}

.bottle-cap{
  position: absolute;
  z-index: 2;
  right: 15%;
  bottom: 22vh;
  width: 15.8vw;
  height: 11.5vw;
  min-width: getRem(124px);
  min-height: getRem(90px);
  max-width: getRem(304px);
  max-height: getRem(221px);

  background-image: url('../images/bottle-cap.png');
  background-size: contain;
  background-repeat: no-repeat;

  @include breakpoint(xs-680){
    right: -2rem;
    bottom: 5vh;
  }
}

.est-1998{
  position: absolute;
  z-index: 2;
  right: 10%;
  bottom: 45vh;
  width: 5.6vw;
  height: 5.6vw;
  min-width: getRem(80px);
  min-height: getRem(80px);
  max-width: getRem(109px);
  max-height: getRem(109px);

  background-image: url('../images/est-1998.png');
  background-size: contain;
  background-repeat: no-repeat;

  @include breakpoint(xs-680){
    right: 1rem;
    bottom: auto;
    top: 40%;
  }
}

.texas-stamp{
  position: absolute;
  z-index: 2;
  right: 2rem;
  top: 10vh;
  width: 21vw;
  height: 21vw;
  min-width: getRem(120px);
  min-height: getRem(120px);
  max-width: getRem(264px);
  max-height: getRem(264px);

  background-image: url('../images/texas-stamp.png');
  background-size: contain;
  background-repeat: no-repeat;

  @include breakpoint(xs-680){
    right: 1rem;
    top: 7vh;
  }
}

.cactus{
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 18vh;
  width: 14.8vw;
  height: 29.5vw;
  min-width: getRem(45px);
  min-height: getRem(90px);
  max-width: getRem(189px);
  max-height: getRem(378px);

  background-image: url('../images/cactus.png');
  background-size: contain;
  background-repeat: no-repeat;

  @include breakpoint(xs-680){
    right: -2rem;
  }

  &.reverse{
    transform: scaleX(-1);
    width: 11.7vw;
    height:23.4vw;
    min-width: getRem(35px);
    min-height: getRem(70px);
    max-width: getRem(150px);
    max-height: getRem(300px);
    right: auto !important;
    left: -1rem;
    bottom: 11vh;

    @include breakpoint(xs-680){
      bottom: 20vh;
    }
  }
}
