//Fonts
@font-face {
  font-family: 'Farao Black';
  src:  url('../fonts/farao_black_ot_regular.woff2') format('woff2'),
        url('../fonts/farao_black_ot_regular.woff') format('woff'),
        url('../fonts/farao_black_ot_regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Kameron Bold';
  src:  url('../fonts/kameron-bold.woff2') format('woff2'),
        url('../fonts/kameron-bold.woff') format('woff'),
        url('../fonts/kameron-bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Vision';
  src:  url('../fonts/vision.woff2') format('woff2'),
        url('../fonts/vision.woff') format('woff'),
        url('../fonts/vision.ttf') format('ttf');
}

@font-face {
  font-family: 'Vision Heavy';
  src:  url('../fonts/vision-heavy.woff2') format('woff2'),
        url('../fonts/vision-heavy.woff') format('woff'),
        url('../fonts/vision-heavy.ttf') format('ttf');
}

//browser prefixes
@mixin prefixr($property, $value, $prefixes: (webkit, moz, ms, o) ) {
  @each $prefix in $prefixes {
    -#{$prefix}-#{$property}: #{$value};
  }
  @if($property==display and $value==flex){
    @each $prefix in $prefixes {
      #{$property}: -#{$prefix}-#{$value};
    }
  }
  #{$property}: #{$value};
}

//Responsive breakpoints
@mixin breakpoint($point) {
  @if $point == xxl-up {
    @media (min-width: 1450px) { @content; }
  }

  @if $point == xxl {
    @media (max-width: 1450px) { @content; }
  }

  @if $point == xl {
    @media (min-width: 1281px) { @content; }
  }

  @if $point == l {
    @media (max-width: 1280px) { @content; }
  }

  @if $point == m-l-up {
    @media (min-width: 1189px) { @content; }
  }

  @if $point == m-l {
    @media (max-width: 1188px) { @content; }
  }

  @if $point == m-up {
    @media (min-width: 1021px) { @content; }
  }

  @if $point == m {
    @media (max-width: 1020px) { @content; }
  }

  @if $point == m-s-up {
    @media (min-width: 961px) { @content; }
  }

  @if $point == m-s {
    @media (max-width: 960px) { @content; }
  }

  @if $point == s-up {
    @media (min-width: 769px) { @content; }
  }

  @if $point == s {
    @media (max-width: 768px) { @content; }
  }

  @if $point == xs-640-up {
    @media (min-width: 641px) { @content; }
  }

  @if $point == xs-640 {
    @media (max-width: 640px) { @content; }
  }

  @if $point == xs-up {
    @media (min-width: 481px) { @content; }
  }

  @if $point == xs {
    @media (max-width: 480px) { @content; }
  }
}

html,body{
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  font-family: "Vision";
}

body{ height: 200% }

h1,h3{
  text-transform: uppercase;
}

h1{
  font-family: "Kameron Bold";
  font-size: 5.5rem;
  margin: 1rem 0;
  line-height: 3rem;
}

h3{
  font-family: "Vision Heavy";
  margin: 0;
}

header{
  @include prefixr(display,flex);
  @include prefixr(justify-content,center);
  @include prefixr(align-items,flex-end);
  position: fixed;
  width: 100%;
  text-align: center;
  z-index: 3;
  height: 230px;
}

.logo-container{
  width: 392px;
  height: 282px;
  background-image: radial-gradient(circle at center, #fef4cf 0%, rgba(252,231,154,0.5) 20%, transparent 58%);
}

section{
  width: 100%;
  height: 100%;
  position: fixed;
}

#bg{
  &.slide1{
    background-color: #d7de2c;
  }
  &.slide2{
    background-color: #dea02c;
  }

  transition: background-color 1s;
  -webkit-transition: background-color 1s;
}


.mimi{
  @include prefixr(display,flex);
  @include prefixr(justify-content,center);
  @include prefixr(align-items,center);
  position: absolute;
  z-index: 40;
  top: 50%;
  left: 50%;
  margin-left: -300px;
  transform: translateY(-50%) translateX(-50%) scale(1);
  -webkit-transform: translateY(-50%) translateX(-50%) scale(1);
  border-radius: 50%;
  width: 726px;
  height: 726px;
  overflow: hidden;

  img{
    width: 726px;
  }

  &.slide1{
    background-image: radial-gradient(circle at center, #FFFFFE 0%, rgba(252, 231, 154, 0.7) 35%, transparent 53%);
  }

  &.slide2{
    background-image: radial-gradient(circle at center, #FFFFFE 0%, rgba(252, 231, 154, 0.35) 35%, transparent 53%);
  }

  &.hidden{
    width: 0px;
    height: 0px;
    transition-duration: 0s;
    -webkit-transition-duration: 0s;
  }

  transition: all 1s;
  -webkit-transition: all 1s;
}

.copy{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 700px;
  z-index: 41;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  margin-left: 300px;
  text-align: center;

  h1, h3{
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    opacity: 1;

    transition: all 0.4s;
    -webkit-transition: all 0.4s;
  }

  h1{
    transition-delay: 0.1s;
    -webkit-transition-delay: 0.1s;
  }

  &.hidden{
    opacity: 0;

    h1, h3{
      transform: translateY(100%);
      -webkit-transform: translateY(100%);
      opacity: 0;

      transition-duration: 0s;
      -webkit-transition-duration: 0s;
      transition-delay: 0s;
      -webkit-transition-delay: 0s;
    }
  }
}
